################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/unilab2019/bin
/unilab2019/obj
/unilab2019/Unilab2019.csproj.user
/unilab2019/Forms/GameForm.Designer.cs